.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    align-items: center;
    color: #26ffcb;
    display: flex;
    flex: 1 0 100%;
    justify-content: center;
    margin-top: 100px;
    width: 300px;
}

.reset {
    background: #1f3540;
    border: 0px;
    border-radius: 50px;
    color: #26ffcb;
    cursor: pointer;
    height:50px;
    margin-top: 25px;
    margin-bottom: 50px;
    outline: none;
    transition: 0.15s;
    width: 250px;
}

.reset:hover {
    background: #296b71;
}

.reset:active {
    background: #174246;
}